.thin-alert {
  margin-bottom: 5px !important;
  margin-top: 5px !important;

}

.container-sm {
  width: 30% !important;
  margin: 0% auto !important;
  margin-top: 5% !important;
}

.grecaptcha-badge {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
